body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

.header {
    background: #2a9d8f;
    padding: 15px;
    color: white;
}

.header nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 200px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.form {
    max-width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    padding: 10px;
    width: 100%;
    background: #264653;
    color: white;
    border: none;
}

.mensaje {
    color: red;
    text-align: center;
}
