body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

/* ENCABEZADO */
.header {
    background: linear-gradient(90deg, #6a4c93, #1982c4);
    padding: 15px;
    color: white;
}

.header nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* CONTENEDOR DE TARJETAS */
.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* TARJETA */
.card {
    width: 200px;
    background: linear-gradient(180deg, #ffffff, #f0f0ff);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: .3s;
    border: 2px solid #d4c2ff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

/* IMAGEN REDONDA BONITA */
.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #6a4c93;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    transition: .3s;
}

.card img:hover {
    transform: scale(1.05);
}

/* FORM */
.form {
    max-width: 350px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    padding: 10px;
    width: 100%;
    background: #264653;
    color: white;
    border: none;
    border-radius: 6px;
}

.mensaje {
    color: red;
    text-align: center;
}
